@use './variables';

@mixin title ($rem, $weight, $fontColor) {
  font: {
    size: $rem * variables.$fontSize;
    weight: $weight;
    family: variables.$Inter;
  }

  color: $fontColor;
}

@mixin Paragraph {
  font: {
    size: variables.$fontSize;
    weight: 400;
    family: variables.$Inter;
  }

  color: variables.$DarkGrayishBlue;
  line-height: 1.5;
}

@mixin textHover($hovColor) {
  color: $hovColor;
}

@mixin margin_padding ($marginy, $marginx, $paddingy, $paddingx) {
  margin: $marginy $marginx;
  padding: $paddingy $paddingx;
}




