/*----------Colors-----------*/

/* Primary*/

$SoftOrange: hsl(35, 77%, 62%);
$SoftRed: hsl(5, 85%, 63%);

/* Neutral */

$Off-white: hsl(36, 100%, 99%);
$GrayishBlue: hsl(233, 8%, 79%);
$DarkGrayishBlue: hsl(236, 13%, 42%);
$VeryDarkBlue: rgb(0, 0, 26);


/*--------google fonts-----------*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

  $Inter: 'Inter', sans-serif;

  $fontSize: 15px;
